body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    font-size: 18px;
    position: fixed;
    border-right: 1.5px solid #F0A04B;
    top: 0;
    left: 0;
}

.menu-item {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.submenu-item {
    cursor: pointer;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nested-submenu {
    display: none;
    padding-left: 15px;
}

.submenu-item:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease-in-out;
}

.arrow {
    font-size: 14px;
    transition: transform 0.2s ease-in-out;
}

.open > .arrow {
    transform: rotate(90deg);
}

#content {
    flex-grow: 1;
    padding: 30px;
    margin-left: 270px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#content img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:visited {
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #F0A04B;
    color: white;
    font-weight: bold;
}

td {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    #sidebar {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 4px solid #F0A04B;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    #sidebar {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 4px solid #F0A04B;
    }
}

.wiki-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color: #FF9D23;
}
.wiki-title:hover {
    color: #C14600;
}